html,body{
  overflow: hidden; /* Prevent overflow */
}
.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  border-bottom: 3px solid white;
  padding-bottom: 5%;
  background-color: #6D7880; 
  color: white;

}
.lead1{
 
  padding-left: 10%;
  font-size: larger;
}
.lead2{
 
  padding-left: 10%;
  font-size: larger;
}
#textboxes{
  display: flex;
  flex-direction: row;
}
#ourmission{
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: solid white;
  text-align: center;
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 2%;
  color: white;
  font-size: 150%;

}

#questionsection{
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: solid white;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 5%;
  padding: 2%;
  color: white;
  font-size: 150%;


}

#homescreen{
  background-color: #6D7880; 
  height: 100vh;
}

#entirefuckingscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6D7880; 
  flex-direction: column;
  padding-top: 0px;
}

#gamesection{
  display: flex;
  justify-content: center;

}
#statusout{
  display: flex;
  justify-content: center;

}
#pgnout{
  display: flex;
  justify-content: center;

}

#fenout{
  display: flex;
  justify-content: center;

}
#startandendbutton{
  display: flex;
  justify-content: center;
}



