html,body{
  overflow: hidden; /* Prevent overflow */
}


#entirefuckingscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6D7880; 
  flex-direction: column;
}

#gamesection{
  display: flex;
  justify-content: center;

}
#statusout{
  display: flex;
  justify-content: center;

}
#pgnout{
  display: flex;
  justify-content: center;

}

#fenout{
  display: flex;
  justify-content: center;

}
#startandendbutton{
  display: flex;
  justify-content: center;
}

