html,body{
  overflow: hidden; /* Prevent overflow */
  height: 100%;
  width: 100%;
  background-color: #6D7880; 
}
.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  border-bottom: 3px solid white;
  padding-bottom: 5%;
  color: white;
  background-color: #6D7880; 
}
#buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  align-items: flex-start;
}

#LoginButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  
}

.button1 {
  --color: #6D7880;
  padding: 0.8em 1.7em;
  background-color: var(--color);
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 1s; /* Increase the transition duration to 1s */
  font-weight: 400;
  font-size: 17px;
  border: 1px solid transparent;
  font-family: inherit;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  
}
.custom-background {
  background-color: #6D7880;
}

.button1::before,
.button1::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 2s ease; /* Increase the transition duration to 2s */
}

.button1::before {
  top: -1em;
  left: -1em;
}

.button1::after {
  left: calc(200% + 1em);
  top: calc(100% + 1em);
}

.button1:hover::before,
.button1:hover::after {
  height: 410px;
  width: 410px;
}

.button1:hover {
  color: rgb(10, 25, 30);
  background-color: transparent;
  border-color: var(--color);
}

.lead1{
 
  padding-left: 10%;
  font-size: larger;
}
.lead2{
 
  padding-left: 10%;
  font-size: larger;
}
#textboxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200%;


}
#ourmission{
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: solid white;
  text-align: center;
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 2%;
  color: white;
  font-size: 150%;
  background-color: #6D7880; 
}

#questionsection{
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: solid white;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 5%;
  padding: 2%;
  color: white;
  font-size: 150%;
  background-color: #6D7880; 
  height: 1%;
}

#homescreen{

  height: 100vh;
  background-image: url('../img/chess.gif'); 
  background-size: cover;
}

#entirefuckingscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6D7880; 
  flex-direction: column;
  padding-top: 0px;
}

#gamesection{
  display: flex;
  justify-content: center;

}
#statusout{
  display: flex;
  justify-content: center;

}
#pgnout{
  display: flex;
  justify-content: center;

}

#fenout{
  display: flex;
  justify-content: center;

}

.connected {
  font-weight: normal;
}

.connected span{
  display: inline-block;
  background: red;
  width: 1rem;
  height: 1rem;
}

span.green{
  background: green;
}


 #login-form {
  width: 20%;
  margin: 0 auto; /* Center the form horizontally on the screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#Signup{
  height: 100%;
  width: 100%;
  background-color: #6D7880; 
}

#submitbutton{
  width: 100%;
}

#loginButtons{
  display: flex;
  flex-direction: row;
}
 
